:local(.button) {
    font-family: bebas_neue;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-width: 100%;
    vertical-align: middle;
    outline: none;
    font-family: 'bebas_neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    padding: 15px;
    color: #fff;
    background-color: #27c2d3;
    border: 0;
    position: relative;
    overflow: hidden;
    min-width: 180px;
}

:local(.button:hover) {
    background-color: #279faa;
    color: #fff;
}

:local(.btnHover) {
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 2;
}

:local(.btnIcon) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 32%;
    right: 0;
    bottom: 0;
    opacity: 1;
    transform: translateY(0);
    line-height: 1;
    transition: all .3s;
}

:local(.btnIcon.right) {
    left: -500px;
}

:local(.btnIcon.left) {
    left: 500px;
}

:local(.button:hover .btnIcon) {
    left: 0;
}

:local(.btnText) {
    background: 0 0;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    text-align: center;
    position: relative;
    transition: all .3s;
    z-index: 1;
    max-width: 100%;
    visibility: visible;
}

:local(.button:hover .btnText.right) {
    transform: translateX(500px);
}

:local(.button:hover .btnText.left) {
    transform: translateX(-500px);
}