:local(.button) {
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-width: 100%;
    vertical-align: middle;
    outline: none;
    font-family: 'bebas_neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    padding: 15px;
    color: #fff;
    background-color:  #416a91;
    border: 0;
    position: relative;
    overflow: hidden;
    width: 180px;
}

:local(.button:hover) {
    background-color: #2d4486;
    color: #fff;
}

:local(.button i) {
   margin-right: 10px;
   font-weight: 400;
   font-size: 16px;
}

:local(.button span) {
   white-space: nowrap;
}