:local(.button) {
    font-family: bebas_neue;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-width: 100%;
    vertical-align: middle;
    outline: none;
    font-family: 'bebas_neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    padding: 15px;
    color: #fff;
    background-color: #27c2d3;
    border: 0;
    position: relative;
    overflow: hidden;
    min-width: 180px;
    max-width: 100%;
}

:local(.button:hover) {
    background-color: #279faa;
    color: #fff;
}