:local(.wrapper) {
	letter-spacing: 0.5px;
}

:local(.name h3) {
    font-family: bebas_neue;
    letter-spacing: 1px;
    font-size: 25px;
    color: #fff;
}

:local(.wrapClient) {
	background: linear-gradient(to top, rgba(249, 0, 110, 0.4), rgba(91, 207, 220, 0.9));
    min-height: 100vh;
}

:local(.wrapGirl) {
	background: linear-gradient(to top, rgba(91, 207, 220, 0.9), rgba(249, 0, 110, 0.6));
    min-height: 100vh;
}

:local(.profileImage) {
	text-align: center;
	margin-bottom: 20px;
}

:local(.profileImage img) {
	height: 150px;
	width: 150px;
}

:local(.hr) {
	border-top: 1px solid #27C2D2;
	margin-top: 10px;
	margin-bottom: 10px;
}

:local(.userId) {
	color: #27C2D2;
}

:local(.buttonHolder) {
	text-align: center;
	margin-bottom: 10px;
}

:local(.itemHolder) {
	padding-left: 5px;
}

:local(.itemHolder > div:first-child) {
	text-align: right;
}

:local(.buttonHolder a) {
	display:block;
	text-decoration: none;
	padding: 8px 10px 6px 10px;
	background-color: #27C2D2;
	color: black;
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 600;
	letter-spacing: .8px;
}

:local(.buttonHolder a:hover) {
	background-color: #279ba7;
}

:local(.mobileWrap) {
	position: fixed;
    z-index: 22;
    top: 170px;
    right: 0;
    display: block;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
}

@media (min-width: 992px) {
    :local(.mobileWrap) {
        display: none;
    }
}

:local(.mobileWrap ul) {
    padding: 0;
    margin: 0;
    list-style: none;
}

:local(.mobileWrap li) {
    margin-bottom: 1px;
    display: block;
    float: right;
    clear: both;
}

:local(.mobileWrap a) {
    padding: 10px;
    display: block;
    color: white;
    font-family: 'bebas_neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #34dca2;
}

:local(.mobileWrap span) {
	display: inline-block;
    max-width: 0;
    line-height: 1;
    vertical-align: middle;
    overflow: hidden;
    -webkit-transition: max-width 0.4s, margin-right 0.4s;
    transition: max-width 0.4s, margin-right 0.4s;
}

:local(.mobileWrap i) {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
    width: 12px;
}

:local(.mobileWrap li:hover span) {
    margin-right: 7px;
    max-width: 120px;
}