:local(.wrap) {
	padding: 10px;
}

:local(.key) {
	margin-right: 10px;
    color: #ccc;
}

:local(.text) {
	margin-right: 10px;
    color: #646C74;
}

:local(.link:hover) {
	color: #4099FF;
	cursor: pointer;
}