:local(.wrap) {
	
}

:local(.key) {
	margin-right: 10px;
    color: #fff;
}

:local(.text) {
	margin-right: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

:local(.link:hover) {
	color: #4099FF;
	cursor: pointer;
}