:local(.infoItem) {
  padding: 15px 10px;
}

:local(.infoItem a),
:local(.infoItem span) {
  color: #fff;
}

:local(.infoItem i) {
  margin-right: 10px;
  color: #ccc;
}

:local(.client.infoItem:hover) {
  background-color: #27c2d3;
  cursor: pointer;
}

:local(.girl.infoItem:hover) {
  background-color: #f91e7f;
  cursor: pointer;
}

:local(.infoItem:hover a),
:local(.infoItem:hover i),
:local(.infoItem:hover span) {
  text-decoration: none;
  color: #fff;
}
