:local(.table) {
    background: 0 0;
    background-color: #f3f4f6;
    color: #888;
    box-shadow: none;
    padding: 40px 10px 0;
    font-size: 1em;
    position: relative;
    overflow: hidden;
}

:local(.padding) {
    padding: 0 5px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
}

:local(.table:hover) {
    box-shadow: 5px 8.66px 30px 0 rgba(31,35,37,.078);
}

:local(.heading) {
	margin-bottom: 30px;
}

:local(.list) {
    padding: 0;
    list-style-type: none;
}

@media (max-width: 1660px) {
    :local(.list) {
        font-size: 11px;
    }
}

@media (min-width: 1200px) and (max-width: 1294px) {
    :local(.list) {
        font-size: 9px;
    }

    :local(.price_12 .price) {
        font-size: 37px;
    }
}

:local(.list strong) {
    float: right;
}

:local(.title) {
	position: relative;
    line-height: 1;
    letter-spacing: .15em;
    color: #222;
    font-family: bebas_neue;
}

:local(.price) {
	font-family: bebas_neue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: normal;
    font-size: 4.285714285714286em;
    line-height: 1;
    color: #34dca2;
}

:local(.wrapValues) {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: -100%;
    transition: all .3s;
}

:local(.priceItem) {
    padding-bottom: 15px;
}

:local(.price_3 .price) {
    font-size: 20px;
}

:local(.price_6 .price) {
    font-size: 30px;
}

:local(.price_12 .price) {
    font-size: 37px;
}

:local(.priceBlock) {
	margin: 30px 0 15px;
    border-bottom: 3px solid #e6e6e6;
    padding-bottom: 20px;
    float: none;
}

:local(.buttonBottom) {
    background: 0 0;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    border-radius: 0;
    box-shadow: none;
    max-width: 100%;
    vertical-align: middle;
    outline: 0;
    font-family: bebas_neue,Helvetica,Arial,sans-serif;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    font-size: 1.142857142857143em;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    -webkit-transition: color .4s,background-color .4s;
    transition: color .4s,background-color .4s;
    border: 0;
    padding: .8125em 10px;
    background-color: #27c2d3;
    color: #fff;
    width: 100%;
    font-weight: 700!important;
}

:local(.btnWrap) {
    margin: 0 -10px;
    width: auto;
}

:local(.btnCurrent) {
    background: 0 0;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    border-radius: 0;
    box-shadow: none;
    max-width: 100%;
    vertical-align: middle;
    outline: 0;
    font-family: bebas_neue,Helvetica,Arial,sans-serif;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    font-size: 1.142857142857143em;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    -webkit-transition: color .4s,background-color .4s;
    transition: color .4s,background-color .4s;
    border: 0;
    padding: .8125em 10px;
    background-color: #ccc;
    color: #fff;
    width: 100%;
    font-weight: 700!important;
    cursor: default;
}

:local(.wrapValues.active) {
    bottom: 0px;
}

:local(.btnValues) {
    cursor: pointer;
}

:local(.btnWrap:hover a),
:local(.btnValues:hover a) {
    background-color: #279faa;
    color: #fff;
    text-decoration: none;
}

:local(.wrapPackage) {
    padding: 15px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(31,35,37,.078);
    box-shadow: 0px 0px 15px 2px rgba(31,35,37,.078);
    margin-bottom: 5px;
    font-family: bebas_neue;
}

:local(.wrapPackage:hover strong),
:local(.wrapPackage.active strong) {
    color: #fff;
}

:local(.wrapPackage:hover),
:local(.wrapPackage.active) {
    background-color: #27C2D3;
}

:local(.wrapPlans) {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

:local(.wrapPlans > div) {
    flex-basis: 270px;
}