:local(.title) {
	font-family: "bebas_neue",Helvetica,Arial,sans-serif;
	padding: 50px 0;
}

:local(.secondPart) {
	background-color: #F3F4F6;
	padding: 50px 0;
	text-align: center;
	font-weight: bold;
}

:local(.counts) {
	font-size: 30px;
	font-family: "bebas_neue",Helvetica,Arial,sans-serif;
	letter-spacing: 1px;
	color: #34dca2;
}

:local(.lastPart) {
	padding: 100px 0;
	text-align: center;
	background-color: #34DCA2;
    letter-spacing: .1em;
	font-family: "bebas_neue",Helvetica,Arial,sans-serif;
	color: #fff;
}

:local(.lastPart h1) {
	font-size: 58px;
	font-weight: bold;
	letter-spacing: .05em;
}

:local(.lastPart a) {
	color: #222323;
	text-decoration: underline;
}

:local(.thirdPart) {
	padding: 50px 0;
	font-weight: bold;
	color: #828282;
	line-height: 1.8;
}

:local(.mainSliderInner) {
	position: relative;
	z-index: 1;
	width: 70%;
}

@media (max-width: 768px) {
	:local(.mainSliderInner) {
		width: 100%;
	}
}

:local(.sliderItem0) {
	background-image: url('/assets/img/about.jpg');
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 500px;
	padding: 10px 30px 0px 30px;
}

.main-slider :local(.sliderItem0:after) {
	content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
    z-index: 0;
}

:local(.sliderItem1) {
	background-image: url('/assets/img/about-2.jpg');
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 500px;
	padding: 10px 30px 0px 30px;
}

:local(.sliderItem2) {
	background-image: url('/assets/img/about-3.jpg');
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 500px;
	padding: 10px 30px 0px 30px;
}

:local(.sliderInner) {
	background-color: #34DCA2;
	width: 100%;
	padding: 0px 15px 15px 15px;
	line-height: 1.5;
}

:local(.sliderInner h3) {
	color: #fff;
	font-family: "bebas_neue",Helvetica,Arial,sans-serif;
	letter-spacing: 1px;
	padding: 25px 0px;
}

:local(.infoItemImg1) {
	background-image: url('/assets/img/about-2.jpg');
	min-height: 350px;
	background-position: center;
	background-size: cover;
}

:local(.infoItemImg2) {
	background-image: url('/assets/img/about-3.jpg');
	min-height: 350px;
	background-position: center;
	background-size: cover;
}

:local(.backgroundGrey) {
	background-color: #f3f4f6;
}