:local(.wrap) {
	padding: 5px;
	cursor: pointer;
	margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(31,35,37,.078);
    box-shadow: 0px 0px 15px 2px rgba(31,35,37,.078);
    transition: box-shadow .3s;
}

:local(.wrap:hover) {
	-webkit-box-shadow: 0px 0px 15px 2px rgba(39, 194, 211, 0.2);
    box-shadow: 0px 0px 15px 2px rgba(39, 194, 211,0.2);
}

:local(.wrap:hover).girl {
	-webkit-box-shadow: 0px 0px 15px 2px rgba(249, 0, 110, 0.1);
    box-shadow: 0px 0px 15px 2px rgba(249, 0, 110, 0.1);
}

:local(.wrap div) {
	display: inline-block;
    vertical-align: middle;
    padding: 5px;
}

:local(.imgWrap) {
	width: 50px;
	display: inline-block;
}

:local(.imgContactWrap) {
	width: 100px;
	display: inline-block;
}

:local(.imgWrap img),
:local(.imgContactWrap img) {
	width: 100%;
}

:local(.wrap div:last-child) {
	display: block;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}