:local(.homeWrapper) {
	width: 100%;
	min-height: 93.5vh;
	background-image: url('/assets/img/login-bg.jpg');
	background-size: cover;
	background-repeat: repeat;
}

:local(.bigDesc) {
	font-weight: 600;
	color: rgba(255,255,255,1);
	font-size: 48px;
	letter-spacing: 2px;
}

:local(.smallDesc) {
	font-size: 18px;
	letter-spacing: .7px;
	color: rgba(255,255,255, 1);
}

@media screen and (max-width: 768px){
	:local(.homeWrapper) {
		height: auto;
	}
}