:local(.wrap) {
	position: relative;
	overflow: hidden;
    min-height: 16px;
}

:local(.text) {
	font-size: 16px;
	z-index: 1;
	text-transform: uppercase;
	padding-right: 8px;
	color: #ccc;
	font-family: bebas_neue;
	letter-spacing: 2px;
}

:local(.divider) {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	position: absolute;
    padding: 5px 0;
}

:local(.client .divider) {
	box-shadow: 5px 0px 20px 1px rgba(39, 194, 211,0.2);
	border-bottom: 1px solid #27c2d3;
}

:local(.girl .divider) {
	box-shadow: 5px 0px 20px 1px rgba(39, 194, 211,0.2);
	border-bottom: 1px solid #27c2d3;
}

