:local(.wrap) {
	margin-bottom: 35px;
}

:local(.leftBlock) {
    display: table-cell;
    vertical-align: top;
}

:local(.rightBlock) {
    display: table-cell;
    vertical-align: middle;
}

:local(.header) {
    float: left;
    width: 100%;
    font-size: 20px;
    font-family: bebas_neue;
    font-weight: bold;
    letter-spacing: 1px;
}

:local(.content) {
    float: left;
    width: 100%;
    margin-top: 10px;
    color: #888;
}

:local(.icon) {
	margin-right: 15px;
	color: #34dca2;
}