:local(.wrapRegistration) {
    width: 60%;
    z-index: 1;
    transition: all .3s;
}

:local(.wrapRegistration.active) {
    width: 100%;
}

:local(.wrapLogin) {
	opacity: 1;
}

:local(.wrapLogin.active) {
	opacity: 0;
	display: none;
}

@media (max-width: 768px) {
    :local(.wrapRegistration) {
	    width: 100%;
	}
}