:local(.navbarDefault) {
	width: 100%;
	margin-bottom: 20px;
	padding: 10px 0;
	z-index: 5;
	border: none;
	background-color: rgba(0,0,0, 0.8);
}

:local(.navbarDefault) .navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}

:local(.navbarDefault) .navbar-brand > img {
	height: 30px;
	margin-top: 10px;
}

:local(.navbarDefault .navBar > li > a) {
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
	line-height: 1;
	letter-spacing: 2px;
	padding-right: 0;
	padding-left: 0;
	color: white;
}

:local(.navbarDefault) .navbar-nav>.open>a,
:local(.navbarDefault) .navbar-nav>.open>a:focus, 
:local(.navbarDefault) .navbar-nav>.open>a:hover,
:local(.navbarDefault) .navbar-nav>li>a:focus, 
:local(.navbarDefault) .navbar-nav>li>a:hover {
	background-color: transparent;
	color: white; 
}

:local(.navBar>li>a:hover),
:local(.navBar>li>a:focus),
:local(.nav .open>a), 
:local(.nav .open>a:focus), 
:local(.nav .open>a:hover)  {
	background-color: transparent;
	color: white;
}

:local(.navBar > li:hover:after),
:local(.navBar > li.active:after) {
	width: 100%;
}

:local(.navBar > li.active > a) {
	color: #333;
}

:local(.navBar>li:after) {
  content: '';
  position: absolute;
  bottom: 6px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #27c2d3;
  -webkit-transition: width .4s;
  transition: width .4s;
}

:local(.navBar > li > ul > a) {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
}  

:local(.navBar > li > ul > a:hover) {
 	background-color: #e2e2e2;
}

@media screen and (min-width: 768px) {
	:local(.navBar > li > ul) {
	transition: opacity 0.3s linear;
	display: block;
	visibility: hidden;
	opacity: 0;
	border: none;
	border-radius: 0;
	letter-spacing: 0.6px;
	}

	:local(.navBar > li:hover > ul) {
		visibility: visible;
		opacity: 1;
	}
}

@media screen and (max-width: 768px) {
	:local(.navBar > li > ul > a) {
		color: white;
	}

	:local(.navbarDefault) .navbar-collapse {
		margin-top: 15px;
	}
}