:local(.wrap) {
	position: relative;
}

:local(.img) {
  border-radius: 50%;
  max-width: 100%;
  width: 100%;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

:local(.hover) {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	border-radius: 50%;
	opacity: 0;
	color: #fff;
	transition: opacity .3s ease;
	z-index: 1;
}

:local(.hover:hover) {
	opacity: 0.3;
	cursor: pointer;
}

:local(.hover:hover + .img) {
	filter: blur(1px);
}

:local(.span) {
	position: absolute;
    top: 70%;
    left: 46%;
}