:local(.innerClass) {
	padding: 1px 1px 1px 1px;
}

:local(.wrapArrow) {
	position: absolute;
	top: 50%;
	z-index: 1;
	cursor: pointer;
	color: #27c2d3;
}

:local(.nextArrow) {
	right: -13px;
}

:local(.prevArrow) {
	left: -13px;
}

:local(.name) {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	color: #fff;
}

:local(.age) {
	text-align: center;
	background-color: #fff;
}

:local(.wrap) {
	position: relative;
}