:local(.wrapItem) {
    position: relative;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

:local(.wrapItem).active {
	display: block;
}

:local(.wrapper) {
    display: flex;
    justify-content: center;
    align-items: center;
}

:local(.arrows) {
    padding: 0 10px;
    cursor: pointer;
}