:local(.footer) {
	background-color: rgba(0,0,0,.9);
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	letter-spacing: 1px;
	font-size: 14px;
}

/* :local(.footerCol) {
	text-align: center;
}

:local(.footerCol:first-child) {
	text-align: left;
}

:local(.footerCol:last-child) {
	text-align: right;
}

:local(.footerCol > div) {
	margin-bottom: 10px;
}

:local(.footerCol > div > a) {
	color: white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

:local(.borderBottom) {
	border-bottom: 1px solid #3f403f;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
	:local(.footerCol:nth-child(even)) {
		text-align: right;
	}

	:local(.footerCol:nth-child(odd)) {
		text-align: left;
	}
} */