@font-face {
	font-family: bebas_neue;
	src: url(./assets/fonts/bebasneue_regular-webfont.woff);
}

.App {
	position: relative;
	background-image: url('/assets/img/image.jpg');
	background-size: cover;
	background-position: right center;
	background-attachment: fixed;
}

.App:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.2);
	z-index: 0;
}

.pointer {
	cursor: pointer;
}

.margin-auto {
	margin: 0 auto;
}

.nowrap {
	white-space: nowrap;
}

.position-relative {
	position: relative;
}

.text-step-two {
	margin-top: 20px;
}

.social-button {
	display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pac-container {
	box-shadow: unset !important;
	border: 1px solid #828282 !important;
}

.masked-input {
	border-radius: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    box-shadow:inset 0 0 0 0 #fff;
    position: relative;
    z-index: 1;
    background: transparent;
}

.masked-input:focus {
	box-shadow:inset 0 0 0 0 #fff;
    box-shadow: 0 0 0 0 #fff;
}

.skip-link {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

@media (min-width: 768px) {
	.navbar-right {
		margin-right: -20px;
	}
}

.slick-dots.slick-thumb {
	top: 5px;
  	bottom: auto;
  	color: #27c2d3;
}

.bottom-service {
	background-color: #222327;
}

.service-black-content {
	color: #FEFEFE;
    padding: 20px 0px;
}

.about-slider .slick-next {
	right: 5px;
}

.testimonials-slider .slick-next:before,
.testimonials-slider .slick-prev:before {
	color: #888;
	opacity: 0.5;
}

.remove-languages {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	cursor: pointer;
	color: #828282;
}

.testimonials-slider .slick-dots {
	position: unset;
	margin-bottom: 10px;
}

.about-slider .slick-prev {
	left: 5px;
    z-index: 1;
}

.member-gallery .slick-prev:before, .slick-next:before {
	color: transparent;
}

.service-black-wrap {
	display: table;
    padding-bottom: 40px;
}

.service-black-icon {
	display: table-cell;
	padding: 10px;
	color: #34DCA2;
}

.service-small-title {
	color: #31C08F;
	padding-top: 30px;
	font-weight: bold;
}

.service-middle-title {
	color: #FEFEFE;
}

.pv-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.member-switch {
	cursor: pointer;
	font-family: bebas_neue;
	letter-spacing: 1px;
}

.underline-text {
	background-image: -webkit-linear-gradient(top, #34dca2 0, #34dca2 100%);
    background-image: linear-gradient(to bottom, #34dca2 0, #34dca2 100%);
    background-position: -3px 85%;
    background-repeat: no-repeat;
    background-size: 100% 3px;
}

.black-service {
	padding-top: 15px;
}

.works-member-block {
	padding: 0px 0px;
}

.works-title {
	font-family: bebas_neue;
	font-size: 24px;
}

.works-big-title {
	font-family: bebas_neue;
	font-weight: bold;
    letter-spacing: 1px;
}

.works-small-title {
	font-family: bebas_neue;
	font-weight: bold;
	letter-spacing: 1px;
}

.service-black-title {
	color: #FEFEFE;
	letter-spacing: 1px;
	padding-top: 15px;
    display: table-cell;
    vertical-align: top;
}

.service-black-title span {
	font-family: bebas_neue;
	font-size: 24px;
}

.bottom-service-title {
	color: #FEFEFE;
	font-family: bebas_neue;
	letter-spacing: 1px;
	font-size: 24px;
}

.service-title-right {
	font-size: 24px;
	color: #34DCA2;
	margin-bottom: 30px;
	font-family: bebas_neue;
    letter-spacing: 1px;
}

.service-title-left {
	font-size: 24px;
	text-align: right;
	margin-bottom: 30px;
	font-family: bebas_neue;
    letter-spacing: 1px;
    font-weight: bold;
}

.service-number {
    font-size: 32px;
    font-weight: bold;
    color: #34DCA2;
    font-family: bebas_neue;
}

.slick-dots.slick-thumb li button:before {
	color: #27c2d3;
}

.tile-viewport img {
	object-fit: cover;
}

[aria-selected='true'] .accordion__arrow::before {
    transform: rotate(-45deg);
}

[aria-selected='true'] .accordion__arrow::after {
    transform: rotate(45deg);
}

.title-service {
	font-weight: bold;
	font-family: bebas_neue;
	letter-spacing: 1px;
	font-size: 24px;
	padding-bottom: 10px;
}

.content-service {
	padding-top: 15px;
}

.service-wrap-title {
	padding: 15px;
}

.text-white {
	color: #fff;
	font-family: bebas_neue;
	letter-spacing: 1px;
	font-weight: bold;
}

.carousel-inner>.item>img {
	height: 500px;
}

.font-bebas {
	font-family: "bebas_neue",Helvetica,Arial,sans-serif;
	text-transform: uppercase;
	color: #828282;
	letter-spacing: 1px;
}

.font-arial {
	font-family: Arial;
    letter-spacing: normal;
    font-weight: bold;
}

.text-grey {
	color: #828282;
}

.react-confirm-alert-button-group > button:last-child {
	background: #27C2D3;
}

.react-confirm-alert {
	text-align: center;
}

.react-confirm-alert-body {
	text-align: center;
}

.react-confirm-alert-button-group {
	justify-content: center;
} 

.ethniticy-block {
	padding: 2px 5px;
}

.fade-slide {
	opacity: 0;
}

.girl-color {
	color: #f9006e;
}

.client-color {
	color: #27C2D3;
}

.back-shadow {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.1);
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}

.letter-4 {
	letter-spacing: 4px;
}

@media (max-width: 768px) {
	.letter-4 {
		letter-spacing: 1px;
	}

	.fs-48 {
		font-size: 38px;
	}
}

.link-icon {
	padding-bottom: 10px;
}

.link-icon i {
	color: #828282;
	padding-right: 5px;
}

.link-icon a {
	text-decoration: none;
	color: inherit;
}

.fs-16 {
	font-size: 16px;
	letter-spacing: .1em;
}

.fs-18 {
	font-size: 18px;
}

.fs-36 {
	font-size: 36px;
}

.fs-48 {
	font-size: 48px;
}

.lh-18 {
	line-height: 1.8;
}

.pt-66 {
	padding-top: 66px;
}

.p-15 {
	padding: 15px;
}

.pt-17 {
	padding-top: 17px;
}

.pt-15 {
	padding-top: 15px;
}

.px-15 {
	padding: 0px 15px;
}

.pt-100 {
	padding-top: 100px;
	position: relative;
	z-index: 1;
}

.pt-50 {
	padding-top: 50px;
}

.pb-50 {
	padding-bottom: 50px;
}

.mb-35 {
	margin-bottom: 35px;
}

.color-888 {
	color: #888;
}

.color-green {
	color: #34DCA2;
}

.p-7-4 {
	padding: 7px 4px;
	font-family: "bebas_neue",Helvetica,Arial,sans-serif;
}

.bg-blue {
	background-color: #ECF1F4;
	background-color: rgba(236, 241, 244, 0.9)
}

.bg-white {
	background-color: #fff;
	min-height: 100vh;
}

.bg-gray {
	background: #F7F7F7;
	min-height: 300px;
}

.bg-light {
	background-color: #F3F4F6;
}

.serviceBackground {
	padding-top: 150px !important;
    padding-bottom: 150px !important;
    background-image: url(http://mint.themes.tvda.pw/wp-content/uploads/2016/11/tamburo.jpg?id=74) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.text-blue {
	color: #4099FF;
}

.text-dark-blue {
	color: #07179E;
}

.client .divider {
	box-shadow: 5px 0px 20px 1px rgba(39, 194, 211,0.2);
	border-bottom: 1px solid #27c2d3;
}

.divider {
	border-bottom: 1px solid #ccc;
}

.girl .divider {
	box-shadow: 8px 0px 20px 1px rgba(249, 30, 127,0.2);
	border-bottom: 1px solid rgba(249, 30, 127, 0.6);
}

.text-white.main {
	font-size: 54px;
	text-align: center;
}

.blue-color {
	color: #27c2d3;
}

.small-italic {
	font-size: 13px;
	opacity: 0.7;
	font-weight: normal;
}

.btn-login {
	padding: 30px;
}

.modal-content {
	border-style: solid;
	border-width: 2px;
	border-radius: 0px;
	border-color: #333333;
}

.panel {
	border-radius: 0;
	border: none;
}

@media (max-width: 768px) {
	.App:after {
		background-color: rgba(0,0,0,0.6);
	}
}

@media (min-width: 992px) {
	.modal-lg {
		width: 60%;
	}
}

@media (max-width: 320px) {
	.fade.in.modal {
		padding-left: 0px !important;
	}
}

.fileContainer {
	padding: 0;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	margin: 0;
}

.fileUploader {
	display: inline-block;
	vertical-align: middle;
	width: auto;
}

.fileContainer .chooseFileButton {
	background: #34dca2;
	border-radius: 0;
	padding: 15px;
	margin: 0;
	font-weight: bold;
}

.fileContainer .chooseFileButton:hover {
	background-color: #1eaf7d;
	color: #fff;
}

.fileContainer .uploadPictureContainer {
	display: none;
}

.upload-btn-group {
	margin: 0 auto;
	max-width: 180px;
}

.upload-btn-group button {
	width: 100%;
}

.default-avatar {
	width: 240px;
	margin: 0 auto;
	display: block;
	max-width: 100%;
}

.shadow {
	padding-top: 100px;
}

.no-results-page {
	margin-top: 75px;
	text-align: center;
}

.no-results-page:first-child {
	margin-top: 15px;
}

.no-results-page__label {
	margin: 0;
	color: #34dca2;
	font-size: 5.714285714285714em;
	font-family: 'bebas_neue', Helvetica, Arial, sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: normal;
	line-height: 1;
}

@media (min-width: 768px) {
	.no-results-page__label {
		font-size: 12.142857142857142em;
	}

	.no-results-page__label._404 {
		font-size: 20em;
	}
}

.no-results-page__label._404 {
	font-size: 10em;
}

.no-results-page__label._cart {
	margin-bottom: 90px;
}

.no-results-page__title {
	margin-top: 15px;
}

.no-results-page__desc {
	margin-bottom: 60px;
	line-height: 1.75;
	font-size: 1.571428571428571em;
}

.no-results-page__desc strong {
	color: #222;
}

.no-results-page__link {
	font-family: 'bebas_neue', Helvetica, Arial, sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: bold;
}

.main-content-wrapper {
	padding-top: 60px;
	padding-bottom: 120px;
	position: relative;
	background-color: #fff;
	z-index: 1;
}

.navbar .container-fluid {
 	padding: 0;
}

.pace-activity {
	position: fixed;
	z-index: 30;
	top: 50%;
	left: 50%;
	margin: -40px 0 0 -40px;
	height: 80px;
	width: 80px;
	-webkit-animation: pace-animate1 1.5s linear infinite;
	animation: pace-animate1 1.5s linear infinite;
	clip: rect(0,80px,80px,40px);
}

  .pace-activity:after {
	content: '';
	position: absolute;
	border-radius: 50%;
	height: 80px;
	width: 80px;
	box-shadow: inset #27C2D3 0 0 0 2px;
	-webkit-animation: pace-animate2 1.5s ease-in-out infinite;
	animation: pace-animate2 1.5s ease-in-out infinite;
	clip: rect(0,80px,80px,40px);
}

.loader-wrap {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #fff;
	opacity: 0.8;
}

@-webkit-keyframes pace-animate1 {
  0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(220deg);
	transform: rotate(220deg);
  }
}
@keyframes pace-animate1 {
  0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(220deg);
	transform: rotate(220deg);
  }
}
@-webkit-keyframes pace-animate2 {
  0% {
	-webkit-transform: rotate(-140deg);
	transform: rotate(-140deg);
  }
  100% {
	-webkit-transform: rotate(140deg);
	transform: rotate(140deg);
  }
}
@keyframes pace-animate2 {
  0% {
	-webkit-transform: rotate(-140deg);
	transform: rotate(-140deg);
  }
  100% {
	-webkit-transform: rotate(140deg);
	transform: rotate(140deg);
  }
}