@font-face {
    font-family: bebas_neue;
    src: url(./assets/fonts/bebasneue_regular-webfont.woff);
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
}

body .title {
    font-family: "Roboto Condensed",Helvetica,Arial,sans-serif;
}

.App {
  position: relative;
  background-image: url('/assets/img/image.jpg');
  background-size: cover;
  background-position: right center;
}

.App:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 0;
}

.slick-dots.slick-thumb {
  top: 5px;
  bottom: auto;
  color: #27c2d3;
}

.slick-dots.slick-thumb li button:before {
  color: #27c2d3;
}

.tile-viewport img {
  object-fit: cover;
}

.text-white {
  color: #fff;
  font-family: bebas_neue;
  letter-spacing: 1px;
  font-weight: bold;
}

.font-bebas {
  font-family: "bebas_neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  color: #828282;
  letter-spacing: 1px;
}

.text-grey {
  color: #828282;
}

.react-confirm-alert-button-group > button:last-child {
  background: #27C2D3;
}

.react-confirm-alert {
  text-align: center;
}

.react-confirm-alert-button-group {
  justify-content: center;
} 

.ethniticy-block {
    padding: 2px 5px;
}

.pt-66 {
  padding-top: 66px;
}

.p-15 {
  padding: 15px;
}

.pt-17 {
  padding-top: 17px;
}

.pt-15 {
  padding-top: 15px;
}

.px-15 {
  padding: 0px 15px;
}

.bg-blue {
  background-color: #ECF1F4;
}

.bg-white {
  background-color: #fff;
  min-height: 1200px;
}

.text-blue {
  color: #4099FF;
}

.client .divider {
  box-shadow: 5px 0px 20px 1px rgba(39, 194, 211,0.2);
  border-bottom: 1px solid #27c2d3;
}

.divider {
  border-bottom: 1px solid #ccc;
}

.girl .divider {
  box-shadow: 8px 0px 20px 1px rgba(249, 30, 127,0.2);
  border-bottom: 1px solid rgba(249, 30, 127, 0.6);
}


.blue-color {
  color: #27c2d3;
}

.small-italic {
  font-size: 13px;
  opacity: 0.7;
  font-weight: normal;
}

.btn-login {
  padding: 30px;
}

.modal-content {
    border-style: solid;
    border-width: 2px;
    border-radius: 0px;
    border-color: #333333;
}

.panel {
	border-radius: 0;
	border: none;
}

@media (max-width: 768px) {
  .App:after {
    background-color: rgba(0,0,0,0.6);
  }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 60%;
    }
}


.fileContainer {
    padding: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    margin: 0;
}

.fileUploader {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.fileContainer .chooseFileButton {
    background: #34dca2;
    border-radius: 0;
    padding: 15px;
    margin: 0;
    font-weight: bold;
}

.fileContainer .chooseFileButton:hover {
    background-color: #1eaf7d;
    color: #fff;
}

.fileContainer .uploadPictureContainer {
    display: none;
}

.upload-btn-group {
    margin: 0 auto;
    max-width: 180px;
}

.upload-btn-group button {
    width: 100%;
}

.default-avatar {
    width: 240px;
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

.shadow {
    padding-top: 100px;
}

.no-results-page {
  margin-top: 75px;
  text-align: center;
}
.no-results-page:first-child {
  margin-top: 15px;
}
.no-results-page__label {
  margin: 0;
  color: #34dca2;
  font-size: 5.714285714285714em;
  font-family: 'bebas_neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 1;
}
@media (min-width: 768px) {
    .no-results-page__label {
        font-size: 12.142857142857142em;
    }
}
.no-results-page__label._404 {
  font-size: 10em;
}
@media (min-width: 768px) {
  .no-results-page__label._404 {
    font-size: 20em;
  }
}
.no-results-page__label._cart {
  margin-bottom: 90px;
}
.no-results-page__title {
  margin-top: 15px;
}
.no-results-page__desc {
  margin-bottom: 60px;
  line-height: 1.75;
  font-size: 1.571428571428571em;
}
.no-results-page__desc strong {
  color: #222;
}
.no-results-page__link {
  font-family: 'bebas_neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
}
.main-content-wrapper {
  padding-top: 60px;
  padding-bottom: 120px;
  position: relative;
  background-color: #fff;
  z-index: 1;
}

.navbar .container-fluid {
  padding: 0;
}

.pace-activity {
    position: fixed;
    z-index: 30;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    height: 80px;
    width: 80px;
    -webkit-animation: pace-animate1 1.5s linear infinite;
    animation: pace-animate1 1.5s linear infinite;
    clip: rect(0,80px,80px,40px);
  }

  .pace-activity:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    box-shadow: inset #27C2D3 0 0 0 2px;
    -webkit-animation: pace-animate2 1.5s ease-in-out infinite;
    animation: pace-animate2 1.5s ease-in-out infinite;
    clip: rect(0,80px,80px,40px);
}

.loader-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.8;
}

@-webkit-keyframes pace-animate1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(220deg);
    transform: rotate(220deg);
  }
}
@keyframes pace-animate1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(220deg);
    transform: rotate(220deg);
  }
}
@-webkit-keyframes pace-animate2 {
  0% {
    -webkit-transform: rotate(-140deg);
    transform: rotate(-140deg);
  }
  100% {
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
  }
}
@keyframes pace-animate2 {
  0% {
    -webkit-transform: rotate(-140deg);
    transform: rotate(-140deg);
  }
  100% {
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
  }
}