@font-face {
    font-family: bebas_neue;
    src: url(./assets/fonts/bebasneue_regular-webfont.woff);
}

@font-face {
    font-family: bebas_neue_bold;
    src: url(./assets/fonts/bebasneue_bold-webfont.woff);
}

body .title {
    font-family: bebas_neue,Helvetica,Arial,sans-serif;
}

.ethniticy-block {
    padding: 1px;
}

.modal-content {
    border-style: solid;
    border-width: 2px;
    border-radius: 0px;
    border-color: #333333;
}

