:local(.logIn) {
	margin-top: 70px;
}

:local(.loginPanel) {
	letter-spacing: 1px;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6);
}

:local(.loginPanel > .loginHeader) {
	font-family: bebas_neue_bold;
	letter-spacing: 2px;
	border-radius: 0;
	background-color: #34dca2;
	color: white;
	font-size: 20px;
	border-bottom: 1px solid #ccc;
}

:local(.inline > div) {
	display: inline;
}

:local(.inline input[type=checkbox]) {
	margin-top: 2.5px;
}