:local(input[name='sex']) {
    opacity: 0;
    position: absolute;
    top: -30px;
}

:local(.rightPart) {
    overflow: hidden;
    width: 0%;
    height: 1px;
    transition: all .3s;
}

:local(.rightPart.active) {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

:local(.gender) {
    padding-left: 0px;
    margin-left: 15px;
}

:local(.spanFemale) {
   padding-left: 15px;
}

input[value=male]:checked + .fa-mars {
    color: #36A5C0;
}

input[value=female]:checked + .fa-venus {
    color: #F2395B;
}

.fa-mars,
.fa-venus {
    color: rgb(114, 110, 111);
}